In [491]:
import pandas as pd

In [492]:
sp500df = pd.read_csv("sp500.csv")

sp500df

,Date,Open,High,Low,Close,Volume
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
24300,2024-09-26,5762.220215,5767.370117,5721.009766,5745.370117,4391180000
24301,2024-09-27,5755.359863,5763.779785,5727.339844,5738.169922,3898530000
24302,2024-09-30,5726.520020,5765.140137,5703.529785,5762.479980,4425730000
24303,2024-10-01,5757.729980,5757.729980,5681.279785,5708.750000,4025180000
24304,2024-10-02,5698.140137,5719.629883,5674.000000,5709.700195,1184305000

In [493]:
pd.to_datetime(sp500df["Date"], errors="raise", yearfirst=True)
sp500df

,Date,Open,High,Low,Close,Volume
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
24300,2024-09-26,5762.220215,5767.370117,5721.009766,5745.370117,4391180000
24301,2024-09-27,5755.359863,5763.779785,5727.339844,5738.169922,3898530000
24302,2024-09-30,5726.520020,5765.140137,5703.529785,5762.479980,4425730000
24303,2024-10-01,5757.729980,5757.729980,5681.279785,5708.750000,4025180000
24304,2024-10-02,5698.140137,5719.629883,5674.000000,5709.700195,1184305000

In [494]:
sp500df.duplicated().sum()

0

In [495]:
sp500df.isna().sum()
sp500df["Date"] = pd.to_datetime(sp500df["Date"])
sp500df["Year"] = sp500df["Date"].dt.year
sp500df

,Date,Open,High,Low,Close,Volume,Year
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0,1927
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0,1928
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0,1928
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0,1928
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0,1928
...,...,...,...,...,...,...,...
24300,2024-09-26,5762.220215,5767.370117,5721.009766,5745.370117,4391180000,2024
24301,2024-09-27,5755.359863,5763.779785,5727.339844,5738.169922,3898530000,2024
24302,2024-09-30,5726.520020,5765.140137,5703.529785,5762.479980,4425730000,2024
24303,2024-10-01,5757.729980,5757.729980,5681.279785,5708.750000,4025180000,2024
24304,2024-10-02,5698.140137,5719.629883,5674.000000,5709.700195,1184305000,2024

In [496]:
eventsdf = pd.read_csv("Economic_Events.csv")
eventsdf

,Date,Event,Impact on Global Markets,Impact on S&P 500,Remarks,Global Market Impact Score
0,1929-10-29,Wall Street Crash of 1929,High,Negative - Major decline,Marked the beginning of the Great Depression.,10.0
1,1987-10-19,Black Monday,Critical,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0
2,2001-09-11,9/11 Attacks,High,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0
3,2008-09-15,Lehman Brothers Collapse,High,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0
4,2020-03-11,COVID-19 Declared a Pandemic,High,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0
5,1939-09-01,Start of WWII,NaN,Negative - Long term decline,Triggered significant economic disruption glob...,10.0
6,1971-08-15,Nixon Shocks,NaN,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0
7,1997-07-02,Asian Financial Crisis,NaN,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0
8,2000-03-10,Dot-com Bubble Burst,NaN,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0
9,2001-03-10,Enron Scandal,NaN,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0
10,1973-10-19,Oil Crisis,NaN,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0
11,1985-09-22,Plaza Accord,NaN,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0
12,1990-08-02,Gulf War,NaN,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0
13,2002-10-09,Stock Market Downturn 2002,NaN,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0
14,2007-12-01,Subprime Mortgage Crisis,NaN,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0
15,2016-06-23,Brexit,NaN,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0

In [497]:
eventsdf["Date"] = pd.to_datetime(eventsdf["Date"], errors="raise", yearfirst=True)
eventsdf["Year"] = eventsdf["Date"].dt.year
eventsdf

,Date,Event,Impact on Global Markets,Impact on S&P 500,Remarks,Global Market Impact Score,Year
0,1929-10-29,Wall Street Crash of 1929,High,Negative - Major decline,Marked the beginning of the Great Depression.,10.0,1929
1,1987-10-19,Black Monday,Critical,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0,1987
2,2001-09-11,9/11 Attacks,High,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0,2001
3,2008-09-15,Lehman Brothers Collapse,High,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0,2008
4,2020-03-11,COVID-19 Declared a Pandemic,High,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0,2020
5,1939-09-01,Start of WWII,NaN,Negative - Long term decline,Triggered significant economic disruption glob...,10.0,1939
6,1971-08-15,Nixon Shocks,NaN,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0,1971
7,1997-07-02,Asian Financial Crisis,NaN,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0,1997
8,2000-03-10,Dot-com Bubble Burst,NaN,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0,2000
9,2001-03-10,Enron Scandal,NaN,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0,2001
10,1973-10-19,Oil Crisis,NaN,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0,1973
11,1985-09-22,Plaza Accord,NaN,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0,1985
12,1990-08-02,Gulf War,NaN,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0,1990
13,2002-10-09,Stock Market Downturn 2002,NaN,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0,2002
14,2007-12-01,Subprime Mortgage Crisis,NaN,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0,2007
15,2016-06-23,Brexit,NaN,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0,2016

In [498]:
eventsdf = eventsdf.drop(columns="Impact on Global Markets")
eventsdf

,Date,Event,Impact on S&P 500,Remarks,Global Market Impact Score,Year
0,1929-10-29,Wall Street Crash of 1929,Negative - Major decline,Marked the beginning of the Great Depression.,10.0,1929
1,1987-10-19,Black Monday,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0,1987
2,2001-09-11,9/11 Attacks,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0,2001
3,2008-09-15,Lehman Brothers Collapse,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0,2008
4,2020-03-11,COVID-19 Declared a Pandemic,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0,2020
5,1939-09-01,Start of WWII,Negative - Long term decline,Triggered significant economic disruption glob...,10.0,1939
6,1971-08-15,Nixon Shocks,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0,1971
7,1997-07-02,Asian Financial Crisis,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0,1997
8,2000-03-10,Dot-com Bubble Burst,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0,2000
9,2001-03-10,Enron Scandal,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0,2001
10,1973-10-19,Oil Crisis,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0,1973
11,1985-09-22,Plaza Accord,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0,1985
12,1990-08-02,Gulf War,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0,1990
13,2002-10-09,Stock Market Downturn 2002,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0,2002
14,2007-12-01,Subprime Mortgage Crisis,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0,2007
15,2016-06-23,Brexit,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0,2016

In [499]:
# We willen de Ukrainse oorlog handmatig toevoegen
ukraine_war_event = {
    'Date': ['2022-02-24'],
    'Event': ['Ukraine War'],
    'Impact on S&P 500': ['Negative - Increased volatility and inflation concerns'],
    'Remarks': ['Has led to significant disruptions in global commodity markets, including energy and grains, influencing global inflation rates and market stability.'],
    'Global Market Impact Score': [7.0],
    "Year": 2022
}

new_row = pd.DataFrame(ukraine_war_event)

eventsdf = pd.concat([eventsdf, new_row], ignore_index=True)
eventsdf = eventsdf.sort_values("Year", ignore_index=True)
eventsdf

,Date,Event,Impact on S&P 500,Remarks,Global Market Impact Score,Year
0,1929-10-29 00:00:00,Wall Street Crash of 1929,Negative - Major decline,Marked the beginning of the Great Depression.,10.0,1929
1,1939-09-01 00:00:00,Start of WWII,Negative - Long term decline,Triggered significant economic disruption glob...,10.0,1939
2,1971-08-15 00:00:00,Nixon Shocks,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0,1971
3,1973-10-19 00:00:00,Oil Crisis,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0,1973
4,1985-09-22 00:00:00,Plaza Accord,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0,1985
5,1987-10-19 00:00:00,Black Monday,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0,1987
6,1990-08-02 00:00:00,Gulf War,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0,1990
7,1997-07-02 00:00:00,Asian Financial Crisis,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0,1997
8,2000-03-10 00:00:00,Dot-com Bubble Burst,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0,2000
9,2001-03-10 00:00:00,Enron Scandal,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0,2001
10,2001-09-11 00:00:00,9/11 Attacks,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0,2001
11,2002-10-09 00:00:00,Stock Market Downturn 2002,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0,2002
12,2007-12-01 00:00:00,Subprime Mortgage Crisis,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0,2007
13,2008-09-15 00:00:00,Lehman Brothers Collapse,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0,2008
14,2016-06-23 00:00:00,Brexit,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0,2016
15,2020-03-11 00:00:00,COVID-19 Declared a Pandemic,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0,2020
16,2022-02-24,Ukraine War,Negative - Increased volatility and inflation ...,Has led to significant disruptions in global c...,7.0,2022

In [500]:
sp500df.to_csv("SP500_Dataset")
eventsdf.to_csv("Events_Dataset")

In [501]:
real_effective_df = pd.read_excel("Real Effective Exchange Rate.xlsx")
real_effective_df = real_effective_df.drop(real_effective_df.index[0])

real_effective_df["Unnamed: 0"] = real_effective_df["Unnamed: 0"].astype(int)

real_effective_df["Unnamed: 0"] = pd.to_datetime(real_effective_df["Unnamed: 0"], format="%Y")
real_effective_df

,Unnamed: 0,Advanced Economies,Argentina,Armenia,Antigua and Barbuda,Australia,Austria,Burundi,Belgium,Bulgaria,...,Ukraine,Uruguay,United States,St. Vincent and the Grenadines,"Venezuela, RB",Viet Nam,World (WBG members),Samoa,South Africa,Zambia
1,1995-01-01,99.12812,158.01370,NaN,NaN,72.82052,NaN,NaN,NaN,NaN,...,NaN,NaN,99.62503,NaN,NaN,NaN,95.94963,NaN,111.05720,NaN
2,1996-01-01,98.19950,154.90100,NaN,NaN,79.18739,NaN,NaN,NaN,45.03279,...,NaN,NaN,102.26730,NaN,NaN,NaN,97.37676,NaN,101.06130,NaN
3,1997-01-01,100.81290,159.47130,NaN,NaN,78.32345,NaN,NaN,NaN,55.14503,...,NaN,NaN,107.41830,NaN,NaN,86.80117,100.97780,NaN,106.65800,NaN
4,1998-01-01,104.93890,165.98980,NaN,NaN,72.26683,NaN,NaN,NaN,64.48824,...,NaN,NaN,116.56380,NaN,NaN,94.18129,103.57360,NaN,98.76722,NaN
5,1999-01-01,106.47510,181.31160,NaN,NaN,72.46348,NaN,NaN,NaN,67.58915,...,NaN,NaN,115.65210,NaN,NaN,93.09765,102.52420,NaN,92.68240,NaN
6,2000-01-01,109.47210,180.01300,74.01157,114.66890,69.07140,98.31680,123.65670,93.01313,69.53079,...,97.76428,113.45360,119.54660,117.66150,79.96297,90.53216,105.15400,74.68944,93.59614,59.76113
7,2001-01-01,110.48370,189.45440,73.03541,116.98510,66.44854,98.46326,118.64050,93.62740,72.95641,...,108.06660,110.68610,126.35960,119.06300,85.04749,90.73812,106.59570,76.93844,87.76796,68.34800
8,2002-01-01,110.66980,81.69464,73.66581,117.76560,70.17969,99.27294,103.34970,95.10960,75.90942,...,103.93620,94.01387,126.39760,116.59060,66.49808,89.76222,104.11800,81.32391,75.42743,69.97194
9,2003-01-01,109.58230,86.99731,67.93809,114.07830,79.16503,102.77520,84.40041,99.70229,79.03085,...,95.57956,73.63326,119.02400,108.11920,57.74287,84.70830,101.73340,80.48015,99.23796,61.93455
10,2004-01-01,108.63640,83.49517,71.63518,110.93660,85.42761,103.91550,81.30204,101.30480,82.67912,...,93.57430,72.44680,113.81580,103.46780,55.76088,84.32461,100.74420,89.81459,105.86040,65.12608
11,2005-01-01,107.17300,81.55931,80.13152,108.34070,87.91559,102.86890,89.01759,101.05030,82.73753,...,103.31190,81.07620,111.90620,101.34770,54.58818,87.13381,100.60750,88.92296,105.71540,80.40639
12,2006-01-01,106.06360,79.66154,86.97219,106.15640,87.57237,102.00340,91.67289,100.61030,86.36568,...,107.60030,81.72156,110.92480,100.08770,57.81218,89.91330,100.67900,88.97141,100.22190,105.60950
13,2007-01-01,103.76360,82.67510,99.47692,98.21839,92.77947,102.57460,86.63444,101.41780,91.36527,...,108.36200,81.39234,105.66610,98.17529,63.35061,90.63770,100.05620,90.04474,93.56571,97.60818
14,2008-01-01,100.75420,92.17855,107.81160,95.37479,90.49713,102.74370,88.88746,104.14850,99.11772,...,117.42390,88.23784,100.77560,99.13544,75.96901,100.44010,99.18280,92.75383,80.32062,112.57420
15,2009-01-01,102.15550,93.38012,99.33678,99.83695,87.68118,103.59430,96.74588,104.21390,103.52150,...,97.94219,90.07907,104.69640,102.51570,99.06749,103.27980,100.16190,100.01080,87.12858,95.60029
16,2010-01-01,100.00380,99.94868,100.00000,100.00000,99.95354,100.00000,100.00000,100.00000,100.01630,...,100.00000,100.00000,100.01850,100.00000,100.00000,100.01280,99.99701,100.00000,99.93143,100.00000
17,2011-01-01,98.43336,105.99830,99.12769,96.66723,106.72170,100.25560,100.89320,100.75240,101.67670,...,99.39034,102.06800,94.86723,96.77814,70.80165,100.98610,99.32054,102.43870,97.82413,97.15340
18,2012-01-01,98.44790,122.90280,94.35194,100.74640,108.14580,98.39251,102.69510,98.48529,100.09810,...,101.45650,104.80470,96.86764,99.75924,84.98665,108.23700,99.98139,103.27160,91.67473,99.71630
19,2013-01-01,96.66619,127.35190,96.02011,99.92029,102.44420,100.49720,100.63060,100.15130,100.73300,...,97.91777,111.09450,96.95372,98.58660,83.22487,114.14980,99.57844,102.73180,81.22625,102.97270
20,2014-01-01,97.25668,119.99050,100.11260,99.80271,97.67030,101.82640,104.40040,99.91257,100.06860,...,76.66953,106.77060,98.93644,97.71875,128.94950,117.53620,99.62887,101.42470,76.24230,98.35654
21,2015-01-01,99.15887,152.81120,103.11950,108.85990,88.64621,98.31090,117.85100,94.89478,97.01460,...,71.40766,107.46540,109.31780,103.07150,310.06470,121.87860,101.87560,103.54280,74.24168,86.64123
22,2016-01-01,101.31010,133.97460,102.49790,110.58920,89.58999,99.77891,119.36090,97.71712,97.15708,...,71.04026,108.46670,113.53120,104.17630,740.64750,123.57480,102.33730,104.37080,69.00218,85.54039
23,2017-01-01,100.86460,143.33500,100.19380,110.97320,92.62615,100.84350,129.67410,99.08024,98.54277,...,74.72493,115.01050,113.12840,104.16200,2321.83200,123.66350,102.03380,103.32180,78.50922,94.51077
24,2018-01-01,100.67880,117.14490,100.47920,107.90450,88.61265,102.77250,118.30730,101.49340,101.76360,...,79.52741,116.74910,111.86050,103.92330,5044.84000,122.03680,101.20320,104.38200,79.84427,88.44308
25,2019-01-01,102.27330,104.34920,NaN,NaN,84.68222,NaN,NaN,NaN,102.27920,...,NaN,NaN,115.00250,NaN,NaN,126.30320,102.32190,NaN,77.20321,NaN
26,2020-01-01,103.04710,106.79340,NaN,NaN,83.71611,NaN,NaN,NaN,105.15400,...,NaN,NaN,116.46610,NaN,NaN,129.21570,102.20550,NaN,69.39605,NaN
27,2021-01-01,101.48490,111.20370,NaN,NaN,88.72209,NaN,NaN,NaN,106.57150,...,NaN,NaN,113.92800,NaN,NaN,126.52720,101.66480,NaN,76.08357,NaN
28,2022-01-01,105.63050,132.74980,NaN,NaN,88.80432,NaN,NaN,NaN,111.62900,...,NaN,NaN,124.45380,NaN,NaN,131.34450,105.55790,NaN,74.91094,NaN
29,2023-01-01,106.09930,132.85080,NaN,NaN,88.93085,NaN,NaN,NaN,117.99180,...,NaN,NaN,125.58110,NaN,NaN,131.90270,104.22060,NaN,68.25017,NaN
30,2024-01-01,107.23940,130.99250,NaN,NaN,91.31126,NaN,NaN,NaN,118.11550,...,NaN,NaN,127.78840,NaN,NaN,130.14160,104.36910,NaN,70.35883,NaN

In [502]:
real_effective_df = real_effective_df[["Unnamed: 0", "Advanced Economies"]]

real_effective_df.to_csv("Real_Effective_Dataset_1995.csv")

In [503]:
unemploy_df = pd.read_excel("Unemployment Rate, seas. adj..xlsx")

unemploy_df

,Unnamed: 0,Advanced Economies,Argentina,Australia,Austria,Belgium,Bulgaria,Bahrain,Belarus,Brazil,...,Thailand,Tunisia,Turkey,"Taiwan, China",Uruguay,United States,"Venezuela, RB",Viet Nam,World (WBG members),South Africa
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995.0,7.354372,NaN,8.471058,6.589767,9.673502,11.385830,NaN,NaN,NaN,...,NaN,NaN,NaN,1.808333,NaN,5.591667,NaN,NaN,NaN,NaN
2,1996.0,7.322500,NaN,8.516425,7.033851,9.544409,11.061670,NaN,NaN,NaN,...,NaN,NaN,NaN,2.600000,NaN,5.408333,NaN,NaN,NaN,NaN
3,1997.0,7.023754,NaN,8.363718,7.103283,9.212289,14.045830,NaN,NaN,NaN,...,NaN,NaN,NaN,2.725000,11.558330,4.941667,NaN,NaN,NaN,NaN
4,1998.0,6.647355,NaN,7.651377,7.184796,9.340881,12.203330,NaN,NaN,NaN,...,NaN,NaN,NaN,2.700000,10.125000,4.500000,NaN,NaN,NaN,NaN
5,1999.0,6.325740,NaN,6.869885,6.645249,8.411080,13.782500,NaN,NaN,NaN,...,NaN,NaN,NaN,2.925000,11.200000,4.216667,14.503670,NaN,NaN,NaN
6,2000.0,5.845727,NaN,6.273074,5.803798,6.875592,18.129170,NaN,NaN,NaN,...,NaN,NaN,NaN,3.000000,13.400000,3.966667,13.981880,NaN,NaN,NaN
7,2001.0,5.990614,NaN,6.765134,6.094126,6.589738,17.508330,NaN,NaN,NaN,...,3.272500,NaN,NaN,4.561667,15.191670,4.741667,13.352400,NaN,NaN,26.05511
8,2002.0,6.550357,22.425370,6.358194,6.871619,7.526965,17.426670,NaN,NaN,NaN,...,2.370833,NaN,NaN,5.171667,16.750000,5.783333,16.229960,NaN,8.421011,27.83813
9,2003.0,6.762759,17.216580,5.931701,7.014325,8.182808,14.259170,NaN,NaN,NaN,...,2.166667,NaN,NaN,4.995000,17.150000,5.991667,18.074330,NaN,8.359086,27.56754
10,2004.0,6.528225,13.622010,5.395828,7.067989,8.390290,12.670000,NaN,NaN,NaN,...,2.054167,NaN,NaN,4.419167,13.341670,5.541667,14.996840,NaN,7.960691,25.09254
11,2005.0,6.193414,11.560380,5.033575,7.272197,8.441851,11.450830,NaN,NaN,NaN,...,1.825833,NaN,9.250000,4.126667,12.141670,5.083333,12.195670,NaN,7.560746,24.63184
12,2006.0,5.750123,10.150660,4.773106,6.779983,8.259000,9.602500,16.0,NaN,NaN,...,1.490833,NaN,8.741667,3.904167,10.783330,4.608333,9.944667,NaN,6.898326,23.48725
13,2007.0,5.503190,8.445447,4.369390,6.212382,7.488011,7.736667,5.6,NaN,NaN,...,1.353333,NaN,8.841667,3.910000,9.400000,4.616667,8.454346,NaN,6.362067,22.88495
14,2008.0,5.913614,7.856472,4.245414,5.900164,6.964915,6.302500,3.7,NaN,NaN,...,1.373333,NaN,9.850000,4.145833,7.925000,5.800000,7.340996,2.38,6.494313,22.46910
15,2009.0,8.135336,8.667090,5.564415,7.277309,7.986733,7.584167,4.0,NaN,NaN,...,1.456667,NaN,12.941670,5.850833,7.783333,9.283333,7.896865,2.90,8.016747,23.66905
16,2010.0,8.446554,7.745602,5.182600,6.924717,8.371863,9.474167,3.6,NaN,NaN,...,1.035833,NaN,11.058330,5.225833,7.025000,9.608333,8.512560,2.91,8.040907,24.84062
17,2011.0,8.155425,7.154079,5.084525,6.724668,7.208805,9.594167,4.0,NaN,NaN,...,0.650833,NaN,8.983333,4.389167,6.341667,8.933333,8.182989,2.22,7.789587,24.78783
18,2012.0,8.279415,7.214806,5.223267,6.980573,7.632050,11.089170,3.7,NaN,NaN,...,0.656667,17.34898,8.300000,4.236667,6.325000,8.075000,7.801805,1.95,7.723256,24.88034
19,2013.0,8.233740,7.075905,5.670084,7.614795,8.554484,11.312500,4.3,NaN,7.289736,...,0.723333,15.84708,8.866667,4.175833,6.508333,7.358333,7.518473,2.17,7.755918,24.73059
20,2014.0,7.601067,7.268935,6.086423,8.365290,8.653589,11.160000,3.8,NaN,6.875284,...,0.839167,15.02064,9.891667,3.958333,6.625000,6.158333,6.921237,2.10,7.407532,25.10001
21,2015.0,6.988338,6.607550,6.054337,9.102528,8.655772,10.060000,3.5,NaN,8.443442,...,0.882500,15.22135,10.316670,3.785833,7.525000,5.275000,6.809548,2.34,7.228607,25.33599
22,2016.0,6.513781,8.463213,5.715893,9.063434,7.850308,8.685833,3.9,6.173138,11.403420,...,0.986667,15.49917,10.883330,3.920833,7.875000,4.875000,7.284966,2.29,7.299869,26.70138
23,2017.0,5.908067,8.337304,5.594318,8.515963,7.097299,7.199167,4.1,5.671507,12.864860,...,1.173333,15.35386,10.933330,3.760833,7.925000,4.358333,7.183809,2.22,7.085272,27.41029
24,2018.0,5.356536,9.207866,5.307342,7.711834,5.958576,6.175833,4.3,4.826157,12.373610,...,1.060000,15.45692,10.941670,3.709167,8.366667,3.891667,6.908740,2.19,6.650018,27.08909
25,2019.0,5.037343,9.800519,5.168636,7.352257,5.366046,5.650000,4.7,4.222985,12.048900,...,0.986667,15.16062,13.733330,3.730000,8.925000,3.675000,NaN,2.17,6.600935,28.67133
26,2020.0,6.891447,11.532220,6.462833,9.996415,5.531166,7.359167,5.9,4.101191,13.524630,...,NaN,16.68858,13.141670,3.849167,10.350000,8.091667,NaN,2.48,8.278366,29.15172
27,2021.0,5.826667,8.721822,5.126974,7.983977,6.273450,5.521667,5.9,3.923700,13.480520,...,NaN,17.57617,12.016670,3.951667,9.366667,5.350000,NaN,3.20,7.440841,34.31483
28,2022.0,4.653006,6.833012,3.715796,6.289808,5.578081,4.499167,5.4,3.598539,9.497287,...,1.338333,15.47428,10.475000,3.669167,7.875000,3.633333,NaN,2.34,6.059125,33.52811
29,2023.0,4.564674,6.126724,3.686314,6.410052,5.525944,5.280000,6.3,3.474964,8.040040,...,0.979167,15.97414,9.383333,3.479167,8.325000,3.625000,NaN,2.28,5.677563,32.39411
30,2024.0,NaN,NaN,4.029807,6.920559,NaN,5.486250,NaN,NaN,NaN,...,NaN,NaN,NaN,3.371250,8.437500,3.987500,NaN,NaN,NaN,NaN

In [504]:
unemploy_df = unemploy_df[["Unnamed: 0", "Advanced Economies"]]

unemploy_df = unemploy_df.drop(unemploy_df.index[0])

unemploy_df["Unnamed: 0"] = unemploy_df["Unnamed: 0"].astype(int)

unemploy_df["Unnamed: 0"] = pd.to_datetime(unemploy_df["Unnamed: 0"], format="%Y")

unemploy_df = unemploy_df.rename(columns={"Unnamed: 0" : "Date"})
unemploy_df = unemploy_df.rename(columns={"Advanced Economies" : "Advanced Economies (UER)"})

unemploy_df

         Date  Advanced Economies (UER)
1  1995-01-01                  7.354372
2  1996-01-01                  7.322500
3  1997-01-01                  7.023754
4  1998-01-01                  6.647355
5  1999-01-01                  6.325740
6  2000-01-01                  5.845727
7  2001-01-01                  5.990614
8  2002-01-01                  6.550357
9  2003-01-01                  6.762759
10 2004-01-01                  6.528225
11 2005-01-01                  6.193414
12 2006-01-01                  5.750123
13 2007-01-01                  5.503190
14 2008-01-01                  5.913614
15 2009-01-01                  8.135336
16 2010-01-01                  8.446554
17 2011-01-01                  8.155425
18 2012-01-01                  8.279415
19 2013-01-01                  8.233740
20 2014-01-01                  7.601067
21 2015-01-01                  6.988338
22 2016-01-01                  6.513781
23 2017-01-01                  5.908067
24 2018-01-01                  5.356536
25 2019-01-01                  5.037343
26 2020-01-01                  6.891447
27 2021-01-01                  5.826667
28 2022-01-01                  4.653006
29 2023-01-01                  4.564674
30 2024-01-01                       NaN

In [505]:
unemploy_df.to_csv("Unemployment_Rate_1995.csv")

In [506]:
stockmarkets_df = pd.read_excel("Stock Markets, US$.xlsx")

stockmarkets_df = stockmarkets_df.drop(stockmarkets_df.index[0])

stockmarkets_df["Unnamed: 0"] = stockmarkets_df["Unnamed: 0"].astype(int)

stockmarkets_df["Unnamed: 0"] = pd.to_datetime(stockmarkets_df["Unnamed: 0"], format="%Y")

stockmarkets_df = stockmarkets_df[["Unnamed: 0", "High Income Countries"]]

stockmarkets_df["Date"] = stockmarkets_df["Unnamed: 0"]

stockmarkets_df = stockmarkets_df[["Date", "High Income Countries"]]

stockmarkets_df = stockmarkets_df.rename(columns={"High Income Countries": "High Income Countries (SM)"})

stockmarkets_df

         Date  High Income Countries (SM)
1  1995-01-01                    56.98221
2  1996-01-01                    65.71686
3  1997-01-01                    76.36350
4  1998-01-01                    88.29574
5  1999-01-01                   104.66310
6  2000-01-01                   113.48370
7  2001-01-01                    90.76241
8  2002-01-01                    75.43339
9  2003-01-01                    73.87881
10 2004-01-01                    90.17463
11 2005-01-01                   100.08910
12 2006-01-01                   114.86480
13 2007-01-01                   133.38430
14 2008-01-01                   110.06490
15 2009-01-01                    83.80092
16 2010-01-01                    98.80579
17 2011-01-01                   107.00910
18 2012-01-01                   108.04150
19 2013-01-01                   126.98180
20 2014-01-01                   143.81640
21 2015-01-01                   146.00260
22 2016-01-01                   141.30700
23 2017-01-01                   163.92670
24 2018-01-01                   177.70950
25 2019-01-01                   182.61720
26 2020-01-01                   194.44610
27 2021-01-01                   253.94930
28 2022-01-01                   233.89210
29 2023-01-01                   244.07680
30 2024-01-01                   291.10070

In [507]:
GDP_df = pd.read_csv("API_NY.GDP.MKTP.CD_DS2_en_csv_v2_31795/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_31795.csv")

GDP_df = GDP_df[GDP_df["1960"] > 13263458995.00]

GDP_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.121696e+10,2.230747e+10,2.370247e+10,2.577938e+10,2.804954e+10,3.037491e+10,...,8.992957e+11,8.298300e+11,9.401055e+11,1.012719e+12,1.006527e+12,9.290741e+11,1.086772e+12,1.183962e+12,1.236163e+12,NaN
13,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.860656e+10,1.968288e+10,1.992256e+10,2.153984e+10,2.380112e+10,2.597616e+10,...,1.351769e+12,1.207581e+12,1.326882e+12,1.429734e+12,1.394671e+12,1.330382e+12,1.559034e+12,1.692957e+12,1.723827e+12,NaN
35,Canada,CAN,GDP (current US$),NY.GDP.MKTP.CD,4.056377e+10,4.103819e+10,4.233621e+10,4.514034e+10,4.950366e+10,5.464941e+10,...,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.743725e+12,1.655685e+12,2.007472e+12,2.161483e+12,2.140086e+12,NaN
40,China,CHN,GDP (current US$),NY.GDP.MKTP.CD,5.971625e+10,5.005669e+10,4.720919e+10,5.070661e+10,5.970813e+10,7.043601e+10,...,1.106157e+13,1.123331e+13,1.231049e+13,1.389491e+13,1.427997e+13,1.468774e+13,1.782046e+13,1.788178e+13,1.779478e+13,NaN
55,Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,8.431095e+10,9.620573e+10,1.055089e+11,1.118228e+11,1.228802e+11,1.342827e+11,...,3.357586e+12,3.469853e+12,3.690849e+12,3.974443e+12,3.889178e+12,3.887727e+12,4.278504e+12,4.082469e+12,4.456081e+12,NaN
61,East Asia & Pacific (excluding high income),EAP,GDP (current US$),NY.GDP.MKTP.CD,8.076796e+10,7.115322e+10,6.489747e+10,7.019395e+10,8.108434e+10,9.448121e+10,...,1.332324e+13,1.361457e+13,1.488110e+13,1.664035e+13,1.721322e+13,1.748733e+13,2.084002e+13,2.111381e+13,2.115025e+13,NaN
62,Early-demographic dividend,EAR,GDP (current US$),NY.GDP.MKTP.CD,1.316371e+11,1.400367e+11,1.441899e+11,1.618010e+11,1.800390e+11,1.941288e+11,...,1.023702e+13,1.053703e+13,1.139345e+13,1.152443e+13,1.176766e+13,1.098101e+13,1.277131e+13,1.413115e+13,1.484782e+13,NaN
63,East Asia & Pacific,EAS,GDP (current US$),NY.GDP.MKTP.CD,1.571481e+11,1.584086e+11,1.621353e+11,1.809559e+11,2.077673e+11,2.312587e+11,...,2.199527e+13,2.277601e+13,2.432909e+13,2.648786e+13,2.703249e+13,2.715648e+13,3.114824e+13,3.066375e+13,3.077566e+13,NaN
65,Europe & Central Asia,ECS,GDP (current US$),NY.GDP.MKTP.CD,4.264432e+11,4.692800e+11,5.132200e+11,5.612763e+11,6.203410e+11,6.764610e+11,...,2.048146e+13,2.040861e+13,2.165284e+13,2.318874e+13,2.290822e+13,2.215655e+13,2.533139e+13,2.538927e+13,2.724063e+13,NaN
68,Euro area,EMU,GDP (current US$),NY.GDP.MKTP.CD,2.515479e+11,2.800012e+11,3.096828e+11,3.408674e+11,3.776888e+11,4.128523e+11,...,1.172711e+13,1.202590e+13,1.273690e+13,1.376112e+13,1.348115e+13,1.315516e+13,1.475463e+13,1.422435e+13,1.554486e+13,NaN
73,European Union,EUU,GDP (current US$),NY.GDP.MKTP.CD,2.850731e+11,3.168704e+11,3.502218e+11,3.848216e+11,4.268577e+11,4.670825e+11,...,1.355390e+13,1.388883e+13,1.476588e+13,1.598145e+13,1.569405e+13,1.538142e+13,1.731513e+13,1.676150e+13,1.834939e+13,NaN
74,Fragile and conflict affected situations,FCS,GDP (current US$),NY.GDP.MKTP.CD,3.073824e+10,3.269086e+10,3.560739e+10,3.802873e+10,3.827477e+10,4.081367e+10,...,1.617323e+12,1.490634e+12,1.549712e+12,1.735184e+12,1.842155e+12,1.690930e+12,1.796274e+12,1.950006e+12,1.906801e+12,NaN
77,France,FRA,GDP (current US$),NY.GDP.MKTP.CD,6.222548e+10,6.746164e+10,7.560753e+10,8.475920e+10,9.400785e+10,1.015372e+11,...,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.647419e+12,2.959356e+12,2.779092e+12,3.030904e+12,NaN
81,United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,7.323397e+10,7.774197e+10,8.124756e+10,8.656196e+10,9.440756e+10,1.018248e+11,...,2.927911e+12,2.689107e+12,2.680148e+12,2.871340e+12,2.851407e+12,2.697807e+12,3.141506e+12,3.088840e+12,3.340032e+12,NaN
95,High income,HIC,GDP (current US$),NY.GDP.MKTP.CD,1.092682e+12,1.165572e+12,1.260545e+12,1.355913e+12,1.482006e+12,1.610881e+12,...,4.977311e+13,5.073724e+13,5.333679e+13,5.668456e+13,5.721830e+13,5.579113e+13,6.246103e+13,6.444445e+13,6.765374e+13,NaN
98,Heavily indebted poor countries (HIPC),HPC,GDP (current US$),NY.GDP.MKTP.CD,1.935420e+10,2.046695e+10,2.170256e+10,2.320256e+10,2.532936e+10,2.740716e+10,...,6.673021e+11,6.745125e+11,7.247580e+11,7.746070e+11,8.033559e+11,8.113603e+11,9.022632e+11,9.816754e+11,1.130472e+12,NaN
102,IBRD only,IBD,GDP (current US$),NY.GDP.MKTP.CD,3.266475e+11,3.220987e+11,3.270418e+11,3.611887e+11,4.099172e+11,4.496066e+11,...,2.583835e+13,2.602777e+13,2.874522e+13,3.057932e+13,3.124659e+13,3.010386e+13,3.574040e+13,3.773320e+13,3.873304e+13,NaN
103,IDA & IBRD total,IBT,GDP (current US$),NY.GDP.MKTP.CD,3.694682e+11,3.691978e+11,3.777671e+11,4.136694e+11,4.651997e+11,5.101738e+11,...,2.798729e+13,2.816951e+13,3.096012e+13,3.296410e+13,3.372236e+13,3.252859e+13,3.837897e+13,4.056700e+13,4.155972e+13,NaN
104,IDA total,IDA,GDP (current US$),NY.GDP.MKTP.CD,4.109832e+10,4.401258e+10,4.676531e+10,4.911464e+10,5.267953e+10,5.773146e+10,...,2.147696e+12,2.140705e+12,2.215171e+12,2.384805e+12,2.475421e+12,2.424028e+12,2.639993e+12,2.835003e+12,2.828041e+12,NaN
107,IDA only,IDX,GDP (current US$),NY.GDP.MKTP.CD,2.967364e+10,3.178153e+10,3.365690e+10,3.519676e+10,3.739576e+10,4.118608e+10,...,1.093640e+12,1.156609e+12,1.247734e+12,1.327890e+12,1.397671e+12,1.414560e+12,1.535390e+12,1.651362e+12,1.786071e+12,NaN
109,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12,NaN
116,Italy,ITA,GDP (current US$),NY.GDP.MKTP.CD,4.191581e+10,4.654222e+10,5.229335e+10,5.989787e+10,6.556965e+10,7.055440e+10,...,1.836638e+12,1.877072e+12,1.961796e+12,2.091932e+12,2.011302e+12,1.897462e+12,2.154875e+12,2.066972e+12,2.254851e+12,NaN
119,Japan,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.741924e+10,5.726676e+10,6.498786e+10,7.437928e+10,8.749059e+10,9.733811e+10,...,4.444931e+12,5.003678e+12,4.930837e+12,5.040881e+12,5.117994e+12,5.055587e+12,5.034621e+12,4.256411e+12,4.212945e+12,NaN
135,Least developed countries: UN classification,LDC,GDP (current US$),NY.GDP.MKTP.CD,2.539634e+10,2.721062e+10,2.879123e+10,3.020279e+10,3.164294e+10,3.437661e+10,...,9.208649e+11,9.365616e+11,1.025062e+12,1.090417e+12,1.150501e+12,1.162020e+12,1.266744e+12,1.424616e+12,1.504251e+12,NaN
139,Lower middle income,LMC,GDP (current US$),NY.GDP.MKTP.CD,8.461660e+10,9.018684e+10,9.218199e+10,1.023237e+11,1.149860e+11,1.230908e+11,...,5.083699e+12,5.297559e+12,5.693069e+12,5.979737e+12,6.278115e+12,6.081790e+12,6.894335e+12,7.341103e+12,7.384750e+12,NaN
140,Low & middle income,LMY,GDP (current US$),NY.GDP.MKTP.CD,2.815134e+11,2.788669e+11,2.832252e+11,3.116420e+11,3.545916e+11,3.907863e+11,...,2.532653e+13,2.558659e+13,2.793326e+13,2.970372e+13,3.042453e+13,2.949192e+13,3.473496e+13,3.643864e+13,3.742521e+13,NaN
142,Late-demographic dividend,LTE,GDP (current US$),NY.GDP.MKTP.CD,2.363597e+11,2.157740e+11,2.152183e+11,2.284820e+11,2.630930e+11,2.978068e+11,...,1.855088e+13,1.859357e+13,2.063108e+13,2.262362e+13,2.305021e+13,2.253118e+13,2.687279e+13,2.806256e+13,2.834140e+13,NaN
156,Middle income,MIC,GDP (current US$),NY.GDP.MKTP.CD,2.707185e+11,2.674661e+11,2.710247e+11,2.987670e+11,3.407490e+11,3.757320e+11,...,2.491169e+13,2.520259e+13,2.753034e+13,2.928404e+13,2.997848e+13,2.905174e+13,3.426606e+13,3.590787e+13,3.678694e+13,NaN
170,North America,NAC,GDP (current US$),NY.GDP.MKTP.CD,5.826368e+11,6.030678e+11,6.460698e+11,6.822953e+11,7.337559e+11,7.966686e+11,...,1.985818e+13,2.033981e+13,2.126851e+13,2.238907e+13,2.327254e+13,2.298552e+13,2.560879e+13,2.791342e+13,2.950930e+13,NaN
176,Netherlands,NLD,GDP (current US$),NY.GDP.MKTP.CD,1.326346e+10,1.457838e+10,1.582429e+10,1.716848e+10,2.020232e+10,2.268848e+10,...,7.655728e+11,7.840604e+11,8.338696e+11,9.140434e+11,9.101943e+11,9.097935e+11,1.029678e+12,1.009399e+12,1.118125e+12,NaN
181,OECD members,OED,GDP (current US$),NY.GDP.MKTP.CD,1.061265e+12,1.131861e+12,1.223948e+12,1.317493e+12,1.441750e+12,1.566397e+12,...,4.753667e+13,4.846055e+13,5.061071e+13,5.352598e+13,5.405301e+13,5.285290e+13,5.889984e+13,6.017009e+13,6.409887e+13,NaN
191,Pre-demographic dividend,PRE,GDP (current US$),NY.GDP.MKTP.CD,2.200996e+10,2.333057e+10,2.503997e+10,2.656525e+10,2.900430e+10,3.089655e+10,...,1.305833e+12,1.163169e+12,1.214614e+12,1.353360e+12,1.427163e+12,1.309584e+12,1.435824e+12,1.639587e+12,1.562534e+12,NaN
198,Post-demographic dividend,PST,GDP (current US$),NY.GDP.MKTP.CD,1.036275e+12,1.103926e+12,1.194312e+12,1.285065e+12,1.403989e+12,1.526737e+12,...,4.466977e+13,4.569340e+13,4.766711e+13,5.050431e+13,5.101880e+13,5.000490e+13,5.558878e+13,5.656420e+13,5.985180e+13,NaN
204,South Asia,SAS,GDP (current US$),NY.GDP.MKTP.CD,4.727433e+10,5.046743e+10,5.390576e+10,6.049639e+10,6.932009e+10,7.430033e+10,...,2.733619e+12,3.011037e+12,3.433921e+12,3.534067e+12,3.658210e+12,3.493121e+12,4.079883e+12,4.327289e+12,4.475568e+12,NaN
215,Sub-Saharan Africa (excluding high income),SSA,GDP (current US$),NY.GDP.MKTP.CD,3.309021e+10,3.497787e+10,3.729053e+10,4.020467e+10,4.380144e+10,4.729433e+10,...,1.667231e+12,1.520443e+12,1.624180e+12,1.779125e+12,1.828592e+12,1.714838e+12,1.931278e+12,2.059045e+12,2.030608e+12,NaN
217,Sub-Saharan Africa,SSF,GDP (current US$),NY.GDP.MKTP.CD,3.310058e+10,3.498754e+10,3.730116e+10,4.021648e+10,4.381456e+10,4.730733e+10,...,1.668663e+12,1.522011e+12,1.625856e+12,1.780909e+12,1.830461e+12,1.716221e+12,1.932765e+12,2.061103e+12,2.032749e+12,NaN
223,Sweden,SWE,GDP (current US$),NY.GDP.MKTP.CD,1.595320e+10,1.735478e+10,1.882135e+10,2.037167e+10,2.271843e+10,2.500019e+10,...,5.051038e+11,5.156547e+11,5.410187e+11,5.554554e+11,5.338795e+11,5.470542e+11,6.397150e+11,5.904096e+11,5.932677e+11,NaN
230,East Asia & Pacific (IDA & IBRD countries),TEA,GDP (current US$),NY.GDP.MKTP.CD,8.068525e+10,7.108036e+10,6.483102e+10,7.012207e+10,8.100131e+10,9.438446e+10,...,1.330689e+13,1.359789e+13,1.486282e+13,1.661989e+13,1.719202e+13,1.746577e+13,2.081427e+13,2.108771e+13,2.112412e+13,NaN
240,South Asia (IDA & IBRD),TSA,GDP (current US$),NY.GDP.MKTP.CD,4.727433e+10,5.046743e+10,5.390576e+10,6.049639e+10,6.932009e+10,7.430033e+10,...,2.733619e+12,3.011037e+12,3.433921e+12,3.534067e+12,3.658210e+12,3.493121e+12,4.079883e+12,4.327289e+12,4.475568e+12,NaN
241,Sub-Saharan Africa (IDA & IBRD countries),TSS,GDP (current US$),NY.GDP.MKTP.CD,3.310058e+10,3.498754e+10,3.730116e+10,4.021648e+10,4.381456e+10,4.730733e+10,...,1.668663e+12,1.522011e+12,1.625856e+12,1.780909e+12,1.830461e+12,1.716221e+12,1.932765e+12,2.061103e+12,2.032749e+12,NaN
249,Upper middle income,UMC,GDP (current US$),NY.GDP.MKTP.CD,1.800534e+11,1.689825e+11,1.701410e+11,1.865894e+11,2.151601e+11,2.423204e+11,...,1.982800e+13,1.990503e+13,2.183727e+13,2.330431e+13,2.370037e+13,2.296995e+13,2.737304e+13,2.856759e+13,2.940368e+13,NaN
251,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.419886e+11,5.619403e+11,6.036394e+11,6.370586e+11,6.841446e+11,7.419049e+11,...,1.829502e+13,1.880491e+13,1.961210e+13,2.065652e+13,2.152140e+13,2.132295e+13,2.359403e+13,2.574411e+13,2.736094e+13,NaN
259,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.364504e+12,1.439319e+12,1.542845e+12,1.664977e+12,1.827785e+12,1.990240e+12,...,7.535966e+13,7.658803e+13,8.155096e+13,8.668687e+13,8.794557e+13,8.557772e+13,9.752703e+13,1.012251e+14,1.054350e+14,NaN

In [508]:
GDP_df = GDP_df.drop(columns={"Country Code", "Indicator Name", "Indicator Code", "Unnamed: 68"})

GDP_df

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Africa Eastern and Southern,2.121696e+10,2.230747e+10,2.370247e+10,2.577938e+10,2.804954e+10,3.037491e+10,3.304916e+10,3.593376e+10,3.874986e+10,...,9.796897e+11,8.992957e+11,8.298300e+11,9.401055e+11,1.012719e+12,1.006527e+12,9.290741e+11,1.086772e+12,1.183962e+12,1.236163e+12
13,Australia,1.860656e+10,1.968288e+10,1.992256e+10,2.153984e+10,2.380112e+10,2.597616e+10,2.730784e+10,3.044272e+10,3.271409e+10,...,1.468598e+12,1.351769e+12,1.207581e+12,1.326882e+12,1.429734e+12,1.394671e+12,1.330382e+12,1.559034e+12,1.692957e+12,1.723827e+12
35,Canada,4.056377e+10,4.103819e+10,4.233621e+10,4.514034e+10,4.950366e+10,5.464941e+10,6.125242e+10,6.585692e+10,7.204883e+10,...,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.743725e+12,1.655685e+12,2.007472e+12,2.161483e+12,2.140086e+12
40,China,5.971625e+10,5.005669e+10,4.720919e+10,5.070661e+10,5.970813e+10,7.043601e+10,7.672001e+10,7.288136e+10,7.084628e+10,...,1.047562e+13,1.106157e+13,1.123331e+13,1.231049e+13,1.389491e+13,1.427997e+13,1.468774e+13,1.782046e+13,1.788178e+13,1.779478e+13
55,Germany,8.431095e+10,9.620573e+10,1.055089e+11,1.118228e+11,1.228802e+11,1.342827e+11,1.427812e+11,1.445710e+11,1.559559e+11,...,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.974443e+12,3.889178e+12,3.887727e+12,4.278504e+12,4.082469e+12,4.456081e+12
61,East Asia & Pacific (excluding high income),8.076796e+10,7.115322e+10,6.489747e+10,7.019395e+10,8.108434e+10,9.448121e+10,1.033677e+11,1.003631e+11,1.014651e+11,...,1.280019e+13,1.332324e+13,1.361457e+13,1.488110e+13,1.664035e+13,1.721322e+13,1.748733e+13,2.084002e+13,2.111381e+13,2.115025e+13
62,Early-demographic dividend,1.316371e+11,1.400367e+11,1.441899e+11,1.618010e+11,1.800390e+11,1.941288e+11,1.905069e+11,2.080438e+11,2.279347e+11,...,1.076661e+13,1.023702e+13,1.053703e+13,1.139345e+13,1.152443e+13,1.176766e+13,1.098101e+13,1.277131e+13,1.413115e+13,1.484782e+13
63,East Asia & Pacific,1.571481e+11,1.584086e+11,1.621353e+11,1.809559e+11,2.077673e+11,2.312587e+11,2.587649e+11,2.812217e+11,3.106957e+11,...,2.208970e+13,2.199527e+13,2.277601e+13,2.432909e+13,2.648786e+13,2.703249e+13,2.715648e+13,3.114824e+13,3.066375e+13,3.077566e+13
65,Europe & Central Asia,4.264432e+11,4.692800e+11,5.132200e+11,5.612763e+11,6.203410e+11,6.764610e+11,7.316517e+11,7.774128e+11,8.189846e+11,...,2.378437e+13,2.048146e+13,2.040861e+13,2.165284e+13,2.318874e+13,2.290822e+13,2.215655e+13,2.533139e+13,2.538927e+13,2.724063e+13
68,Euro area,2.515479e+11,2.800012e+11,3.096828e+11,3.408674e+11,3.776888e+11,4.128523e+11,4.466968e+11,4.747404e+11,5.104448e+11,...,1.357007e+13,1.172711e+13,1.202590e+13,1.273690e+13,1.376112e+13,1.348115e+13,1.315516e+13,1.475463e+13,1.422435e+13,1.554486e+13
73,European Union,2.850731e+11,3.168704e+11,3.502218e+11,3.848216e+11,4.268577e+11,4.670825e+11,5.057039e+11,5.384998e+11,5.779985e+11,...,1.565137e+13,1.355390e+13,1.388883e+13,1.476588e+13,1.598145e+13,1.569405e+13,1.538142e+13,1.731513e+13,1.676150e+13,1.834939e+13
74,Fragile and conflict affected situations,3.073824e+10,3.269086e+10,3.560739e+10,3.802873e+10,3.827477e+10,4.081367e+10,4.323859e+10,4.417462e+10,4.856884e+10,...,2.053789e+12,1.617323e+12,1.490634e+12,1.549712e+12,1.735184e+12,1.842155e+12,1.690930e+12,1.796274e+12,1.950006e+12,1.906801e+12
77,France,6.222548e+10,6.746164e+10,7.560753e+10,8.475920e+10,9.400785e+10,1.015372e+11,1.100459e+11,1.189730e+11,1.297854e+11,...,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.647419e+12,2.959356e+12,2.779092e+12,3.030904e+12
81,United Kingdom,7.323397e+10,7.774197e+10,8.124756e+10,8.656196e+10,9.440756e+10,1.018248e+11,1.085728e+11,1.131169e+11,1.077599e+11,...,3.064708e+12,2.927911e+12,2.689107e+12,2.680148e+12,2.871340e+12,2.851407e+12,2.697807e+12,3.141506e+12,3.088840e+12,3.340032e+12
95,High income,1.092682e+12,1.165572e+12,1.260545e+12,1.355913e+12,1.482006e+12,1.610881e+12,1.762771e+12,1.883246e+12,2.042820e+12,...,5.331016e+13,4.977311e+13,5.073724e+13,5.333679e+13,5.668456e+13,5.721830e+13,5.579113e+13,6.246103e+13,6.444445e+13,6.765374e+13
98,Heavily indebted poor countries (HIPC),1.935420e+10,2.046695e+10,2.170256e+10,2.320256e+10,2.532936e+10,2.740716e+10,2.954659e+10,3.043741e+10,3.245419e+10,...,6.943443e+11,6.673021e+11,6.745125e+11,7.247580e+11,7.746070e+11,8.033559e+11,8.113603e+11,9.022632e+11,9.816754e+11,1.130472e+12
102,IBRD only,3.266475e+11,3.220987e+11,3.270418e+11,3.611887e+11,4.099172e+11,4.496066e+11,4.551105e+11,4.740611e+11,5.007375e+11,...,2.759278e+13,2.583835e+13,2.602777e+13,2.874522e+13,3.057932e+13,3.124659e+13,3.010386e+13,3.574040e+13,3.773320e+13,3.873304e+13
103,IDA & IBRD total,3.694682e+11,3.691978e+11,3.777671e+11,4.136694e+11,4.651997e+11,5.101738e+11,5.214606e+11,5.427858e+11,5.730597e+11,...,2.980090e+13,2.798729e+13,2.816951e+13,3.096012e+13,3.296410e+13,3.372236e+13,3.252859e+13,3.837897e+13,4.056700e+13,4.155972e+13
104,IDA total,4.109832e+10,4.401258e+10,4.676531e+10,4.911464e+10,5.267953e+10,5.773146e+10,6.212677e+10,6.442985e+10,6.785563e+10,...,2.208113e+12,2.147696e+12,2.140705e+12,2.215171e+12,2.384805e+12,2.475421e+12,2.424028e+12,2.639993e+12,2.835003e+12,2.828041e+12
107,IDA only,2.967364e+10,3.178153e+10,3.365690e+10,3.519676e+10,3.739576e+10,4.118608e+10,4.406316e+10,4.646273e+10,4.888163e+10,...,1.097549e+12,1.093640e+12,1.156609e+12,1.247734e+12,1.327890e+12,1.397671e+12,1.414560e+12,1.535390e+12,1.651362e+12,1.786071e+12
109,India,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,4.558123e+10,5.013494e+10,5.308546e+10,...,2.039126e+12,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12
116,Italy,4.191581e+10,4.654222e+10,5.229335e+10,5.989787e+10,6.556965e+10,7.055440e+10,7.644625e+10,8.420791e+10,9.127508e+10,...,2.162010e+12,1.836638e+12,1.877072e+12,1.961796e+12,2.091932e+12,2.011302e+12,1.897462e+12,2.154875e+12,2.066972e+12,2.254851e+12
119,Japan,4.741924e+10,5.726676e+10,6.498786e+10,7.437928e+10,8.749059e+10,9.733811e+10,1.130468e+11,1.324756e+11,1.568975e+11,...,4.896994e+12,4.444931e+12,5.003678e+12,4.930837e+12,5.040881e+12,5.117994e+12,5.055587e+12,5.034621e+12,4.256411e+12,4.212945e+12
135,Least developed countries: UN classification,2.539634e+10,2.721062e+10,2.879123e+10,3.020279e+10,3.164294e+10,3.437661e+10,3.727169e+10,3.975639e+10,4.199345e+10,...,9.596181e+11,9.208649e+11,9.365616e+11,1.025062e+12,1.090417e+12,1.150501e+12,1.162020e+12,1.266744e+12,1.424616e+12,1.504251e+12
139,Lower middle income,8.461660e+10,9.018684e+10,9.218199e+10,1.023237e+11,1.149860e+11,1.230908e+11,1.122462e+11,1.197664e+11,1.270982e+11,...,5.090396e+12,5.083699e+12,5.297559e+12,5.693069e+12,5.979737e+12,6.278115e+12,6.081790e+12,6.894335e+12,7.341103e+12,7.384750e+12
140,Low & middle income,2.815134e+11,2.788669e+11,2.832252e+11,3.116420e+11,3.545916e+11,3.907863e+11,3.979975e+11,4.149510e+11,4.383117e+11,...,2.610179e+13,2.532653e+13,2.558659e+13,2.793326e+13,2.970372e+13,3.042453e+13,2.949192e+13,3.473496e+13,3.643864e+13,3.742521e+13
142,Late-demographic dividend,2.363597e+11,2.157740e+11,2.152183e+11,2.284820e+11,2.630930e+11,2.978068e+11,3.227564e+11,3.171153e+11,3.163387e+11,...,1.977633e+13,1.855088e+13,1.859357e+13,2.063108e+13,2.262362e+13,2.305021e+13,2.253118e+13,2.687279e+13,2.806256e+13,2.834140e+13
156,Middle income,2.707185e+11,2.674661e+11,2.710247e+11,2.987670e+11,3.407490e+11,3.757320e+11,3.824815e+11,3.984308e+11,4.208021e+11,...,2.568074e+13,2.491169e+13,2.520259e+13,2.753034e+13,2.928404e+13,2.997848e+13,2.905174e+13,3.426606e+13,3.590787e+13,3.678694e+13
170,North America,5.826368e+11,6.030678e+11,6.460698e+11,6.822953e+11,7.337559e+11,7.966686e+11,8.744193e+11,9.256321e+11,1.012424e+12,...,1.942030e+13,1.985818e+13,2.033981e+13,2.126851e+13,2.238907e+13,2.327254e+13,2.298552e+13,2.560879e+13,2.791342e+13,2.950930e+13
176,Netherlands,1.326346e+10,1.457838e+10,1.582429e+10,1.716848e+10,2.020232e+10,2.268848e+10,2.470512e+10,2.710394e+10,3.005341e+10,...,8.921680e+11,7.655728e+11,7.840604e+11,8.338696e+11,9.140434e+11,9.101943e+11,9.097935e+11,1.029678e+12,1.009399e+12,1.118125e+12
181,OECD members,1.061265e+12,1.131861e+12,1.223948e+12,1.317493e+12,1.441750e+12,1.566397e+12,1.714911e+12,1.832992e+12,1.988238e+12,...,5.038691e+13,4.753667e+13,4.846055e+13,5.061071e+13,5.352598e+13,5.405301e+13,5.285290e+13,5.889984e+13,6.017009e+13,6.409887e+13
191,Pre-demographic dividend,2.200996e+10,2.333057e+10,2.503997e+10,2.656525e+10,2.900430e+10,3.089655e+10,3.363865e+10,3.320702e+10,3.548561e+10,...,1.535536e+12,1.305833e+12,1.163169e+12,1.214614e+12,1.353360e+12,1.427163e+12,1.309584e+12,1.435824e+12,1.639587e+12,1.562534e+12
198,Post-demographic dividend,1.036275e+12,1.103926e+12,1.194312e+12,1.285065e+12,1.403989e+12,1.526737e+12,1.670425e+12,1.785258e+12,1.936323e+12,...,4.720735e+13,4.466977e+13,4.569340e+13,4.766711e+13,5.050431e+13,5.101880e+13,5.000490e+13,5.558878e+13,5.656420e+13,5.985180e+13
204,South Asia,4.727433e+10,5.046743e+10,5.390576e+10,6.049639e+10,6.932009e+10,7.430033e+10,6.163414e+10,6.798891e+10,7.164250e+10,...,2.614916e+12,2.733619e+12,3.011037e+12,3.433921e+12,3.534067e+12,3.658210e+12,3.493121e+12,4.079883e+12,4.327289e+12,4.475568e+12
215,Sub-Saharan Africa (excluding high income),3.309021e+10,3.497787e+10,3.729053e+10,4.020467e+10,4.380144e+10,4.729433e+10,5.108767e+10,5.246654e+10,5.581575e+10,...,1.872888e+12,1.667231e+12,1.520443e+12,1.624180e+12,1.779125e+12,1.828592e+12,1.714838e+12,1.931278e+12,2.059045e+12,2.030608e+12
217,Sub-Saharan Africa,3.310058e+10,3.498754e+10,3.730116e+10,4.021648e+10,4.381456e+10,4.730733e+10,5.110123e+10,5.248018e+10,5.582840e+10,...,1.874275e+12,1.668663e+12,1.522011e+12,1.625856e+12,1.780909e+12,1.830461e+12,1.716221e+12,1.932765e+12,2.061103e+12,2.032749e+12
223,Sweden,1.595320e+10,1.735478e+10,1.882135e+10,2.037167e+10,2.271843e+10,2.500019e+10,2.719414e+10,2.951768e+10,3.132328e+10,...,5.819640e+11,5.051038e+11,5.156547e+11,5.410187e+11,5.554554e+11,5.338795e+11,5.470542e+11,6.397150e+11,5.904096e+11,5.932677e+11
230,East Asia & Pacific (IDA & IBRD countries),8.068525e+10,7.108036e+10,6.483102e+10,7.012207e+10,8.100131e+10,9.438446e+10,1.032619e+11,1.002603e+11,1.013612e+11,...,1.278447e+13,1.330689e+13,1.359789e+13,1.486282e+13,1.661989e+13,1.719202e+13,1.746577e+13,2.081427e+13,2.108771e+13,2.112412e+13
240,South Asia (IDA & IBRD),4.727433e+10,5.046743e+10,5.390576e+10,6.049639e+10,6.932009e+10,7.430033e+10,6.163414e+10,6.798891e+10,7.164250e+10,...,2.614916e+12,2.733619e+12,3.011037e+12,3.433921e+12,3.534067e+12,3.658210e+12,3.493121e+12,4.079883e+12,4.327289e+12,4.475568e+12
241,Sub-Saharan Africa (IDA & IBRD countries),3.310058e+10,3.498754e+10,3.730116e+10,4.021648e+10,4.381456e+10,4.730733e+10,5.110123e+10,5.248018e+10,5.582840e+10,...,1.874275e+12,1.668663e+12,1.522011e+12,1.625856e+12,1.780909e+12,1.830461e+12,1.716221e+12,1.932765e+12,2.061103e+12,2.032749e+12
249,Upper middle income,1.800534e+11,1.689825e+11,1.701410e+11,1.865894e+11,2.151601e+11,2.423204e+11,2.653984e+11,2.723927e+11,2.868440e+11,...,2.059035e+13,1.982800e+13,1.990503e+13,2.183727e+13,2.330431e+13,2.370037e+13,2.296995e+13,2.737304e+13,2.856759e+13,2.940368e+13
251,United States,5.419886e+11,5.619403e+11,6.036394e+11,6.370586e+11,6.841446e+11,7.419049e+11,8.130328e+11,8.596200e+11,9.402250e+11,...,1.760814e+13,1.829502e+13,1.880491e+13,1.961210e+13,2.065652e+13,2.152140e+13,2.132295e+13,2.359403e+13,2.574411e+13,2.736094e+13
259,World,1.364504e+12,1.439319e+12,1.542845e+12,1.664977e+12,1.827785e+12,1.990240e+12,2.154638e+12,2.293873e+12,2.479012e+12,...,7.989439e+13,7.535966e+13,7.658803e+13,8.155096e+13,8.668687e+13,8.794557e+13,8.557772e+13,9.752703e+13,1.012251e+14,1.054350e+14

In [509]:
melted_df = pd.melt(GDP_df, id_vars=['Country Name'], var_name='Year', value_name='Value')

reshaped_df = melted_df.pivot(index='Year', columns='Country Name', values='Value')

GDP_df = reshaped_df[["World"]]

GDP_df = GDP_df.rename(columns={"World": "World GDP"})

GDP_df_reset = GDP_df.reset_index()

GDP_df_reset.rename(columns={'Year': 'Date'}, inplace=True)

GDP_df = GDP_df_reset
GDP_df_reset = GDP_df.reset_index(drop=True)  

GDP_df_reset.columns = ['Date', 'World GDP']

GDP_df_reset.index.name = None

GDP_df = GDP_df_reset

GDP_df["Date"] = pd.to_datetime(GDP_df["Date"])

GDP_df

         Date     World GDP
0  1960-01-01  1.364504e+12
1  1961-01-01  1.439319e+12
2  1962-01-01  1.542845e+12
3  1963-01-01  1.664977e+12
4  1964-01-01  1.827785e+12
..        ...           ...
59 2019-01-01  8.794557e+13
60 2020-01-01  8.557772e+13
61 2021-01-01  9.752703e+13
62 2022-01-01  1.012251e+14
63 2023-01-01  1.054350e+14

[64 rows x 2 columns]

In [511]:
stats_df = pd.merge(unemploy_df, stockmarkets_df, on="Date", how="inner")

stats_df = pd.merge(stats_df, GDP_df, on="Date", how="inner")

stats_df

,Date,Advanced Economies (UER),High Income Countries (SM),World GDP
0,1995-01-01,7.354372,56.98221,3.114061e+13
1,1996-01-01,7.322500,65.71686,3.185769e+13
2,1997-01-01,7.023754,76.36350,3.175230e+13
3,1998-01-01,6.647355,88.29574,3.169704e+13
4,1999-01-01,6.325740,104.66310,3.273100e+13
5,2000-01-01,5.845727,113.48370,3.383939e+13
6,2001-01-01,5.990614,90.76241,3.362696e+13
7,2002-01-01,6.550357,75.43339,3.491770e+13
8,2003-01-01,6.762759,73.87881,3.915214e+13
9,2004-01-01,6.528225,90.17463,4.411624e+13
10,2005-01-01,6.193414,100.08910,4.776032e+13
11,2006-01-01,5.750123,114.86480,5.174981e+13
12,2007-01-01,5.503190,133.38430,5.831487e+13
13,2008-01-01,5.913614,110.06490,6.407230e+13
14,2009-01-01,8.135336,83.80092,6.071826e+13
15,2010-01-01,8.446554,98.80579,6.651417e+13
16,2011-01-01,8.155425,107.00910,7.395779e+13
17,2012-01-01,8.279415,108.04150,7.560398e+13
18,2013-01-01,8.233740,126.98180,7.775137e+13
19,2014-01-01,7.601067,143.81640,7.989439e+13
20,2015-01-01,6.988338,146.00260,7.535966e+13
21,2016-01-01,6.513781,141.30700,7.658803e+13
22,2017-01-01,5.908067,163.92670,8.155096e+13
23,2018-01-01,5.356536,177.70950,8.668687e+13
24,2019-01-01,5.037343,182.61720,8.794557e+13
25,2020-01-01,6.891447,194.44610,8.557772e+13
26,2021-01-01,5.826667,253.94930,9.752703e+13
27,2022-01-01,4.653006,233.89210,1.012251e+14
28,2023-01-01,4.564674,244.07680,1.054350e+14